.bid-1 {
    height: 70px;
    width: auto;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 0px;
    background: rgb(233 239 240);
    box-shadow: 5px 5px 13px #e6e6e6, -5px -5px 13px #f4f4f4;
    display: grid;
    /* grid-template-columns: 250px 4fr 2fr; */
    /* column-gap: 30vh; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    grid-gap: 5px;
    align-items: center;
    overflow: auto;
}
/* 
.gap-val {
  width: 18vw;
} */

.bid-val a p {
    margin-left: 5px;
    background: linear-gradient(
        110.78deg,
        /* #76e650 -1.13%, */ #f9d649 -9.22%,
        #f08e35 25.09%,
        #fc474d 50.96%,
        #ff18bd 78.94%,
        #1a4bff 85.34%,
        #62d8f9 99.57%
    );
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

.bid-val a p:hover {
    background-image: linear-gradient(
        to right,
        red,
        orange,
        yellow,
        green,
        blue,
        indigo,
        violet
    );
    transform: scale(1.02, 1.02);
    /* background-clip: inherit; */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}
