.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 310px);
  grid-gap: 40px;
  justify-content: center;
  align-items: center;
}

.artist-card-container {
  padding: 14px;
  width: 270px;
  height: 350px;
  position: relative;
  border-radius: 18px;
  /* background: #e0e0ea; */
  background: #e9eff0;
  box-shadow: 3px 3px 7px #d8d8d8, -1px -2px 30px #fffff2;
  overflow: auto;
  cursor: pointer;
  justify-content: center;
  display: grid;
}

.artist-card-container:hover {
  box-shadow: inset 7px 7px 14px #d5d5d5, inset -7px -7px 14px #eeeeee;
}

.artist-img-container {
  overflow: hidden;
  width: 200px;
  height: 200px;
  background: rgb(224, 224, 224);
  border-radius: 100px;
  box-shadow: 3px 3px 7px #bebce4, -1px -2px 30px #fffff2;
  
  /* box-shadow: inset 3px 3px 7px #bebce4, inset -1px -2px 30px #fffff2; */
  /* box-shadow: inset 7px 7px 14px #bababa, inset -7px -7px 14px #d5d5d5; */
}

.artist-img-container img {
  width: 200px;
  height: 200px;
}

/* .artist-img-container:hover {
  box-shadow: inset 7px 7px 14px #bababa, inset -7px -7px 14px #d5d5d5;
} */

/* Name */
.artist-title {
  overflow: auto;
  padding: 10px 0px 0px 0px;
  height: 50px;
}

.user {
  overflow: hidden;
  padding: 0px;
  height: 30px;
  display: flex;
}

.desc {
  overflow: hidden;
  height: 50px;
  display: flex;
}

.user-name {
  background: linear-gradient(
    110.78deg,
    #1a4bff 15.22%,
    #62d8f9 32.09%,
    #ec5157 48.96%,
    #ff18bd 67.94%,
    #f9d649 85.34%,
    #f08e35 99.57%
  );
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
