.bid-1 {
  height: 80px;
  width: auto;
  margin: 10px 10px;
  padding: 10px;
  border-radius: 0px;
  background: rgb(233 239 240);
  box-shadow: 5px 5px 13px #e6e6e6, -5px -5px 13px #f4f4f4;
  display: grid;
  grid-template-columns: 250px 4fr 2fr;
  /* grid-gap: 5px; */
  align-items: center;
  overflow: auto;
}

.bid-val a p {
  background: linear-gradient(
    110.78deg,
    /* #76e650 -1.13%, */
    #f9d649 15.22%,
    #f08e35 32.09%,
    #ec5157 88.96%,
    #ff18bd 97.94%,
    #1a4bff 85.34%,
    #62d8f9 99.57%
  );
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
