.card-container {
  /* padding: 14px; */
  width: 302px;
  height: 480px;
  position: relative;
  border-radius: 18px;
  /* background: #e0e0ea; */
  background: rgb(233 239 240);
  /* background: rgb(224 224 234); */
  /* box-shadow: 3px 3px 7px #d7d7da, -1px -2px 30px #fffff2; */
  box-shadow: 7px 7px 14px #e4e4e4, -7px -7px 14px #f6f6f6;
  overflow: auto;
  cursor: pointer;
  z-index: 1;
}

.card-container:hover {
  box-shadow: inset 7px 7px 14px #bababa, inset -7px -7px 14px #ffffff;
}

.img-container {
  overflow: hidden;
  height: 280px;
  background: rgb(214, 214, 214);
  display: grid;
  /* border-radius: 10px; */
}

.img-container img {
  /* height: 280px; */
  width: 302px;
  height: auto;
  align-self: center;
  /* width: auto; */
}

.img-container img:hover {
  box-shadow: inset 7px 7px 14px #bababa;
}

.card-title {
  margin: 10px 0px;
}

.card-title b {
  overflow: auto;
  margin-top: 20px;
  padding: 10px 10px 10px 10px;
  height: 60px;
}

.card-title .creator {
  overflow: auto;
  padding: 10px 10px 20px 10px;
  height: 50px;
  display: flex;
}

.card-body {
  overflow: auto;
  height: 59px;
  display: flex;
  margin-top: 28px;
}

.artist-link:hover {
  background: linear-gradient(
    110.78deg,
    #76e650 -1.13%,
    #f9d649 15.22%,
    #f08e35 32.09%,
    #ec5157 48.96%,
    #ff18bd 67.94%,
    #1a4bff 85.34%,
    #62d8f9 99.57%
  );
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grid-style {
  display: grid;
  grid-template-columns: repeat(auto-fill, 310px);
  grid-gap: 49px;
  justify-content: center;
  align-items: center;
}
