.profile-desc {
  margin-top: 10px;
  padding: 10px 10px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  box-shadow: 7px 7px 14px #e4e4e4;
}

.pic-1 {
  margin-left: 90px;
  padding-left: 0px;
  height: 200px;
  width: 200px;
  border-radius: 200px;
  background: rgb(233, 233, 233);
  box-shadow: inset 3px 3px 7px #d3d3d3, inset -1px -2px 30px #f8f8f8;
  align-self: center;
}

.details-1 {
  align-self: center;
}

.eth-address {
  overflow: auto;
  margin: 50px 0px 0px 0px;
  height: 30px;
  width: 300px;
  border-radius: 30px;
  background: rgb(233 239 240);
  box-shadow: rgb(0 0 0 / 5%) 0px 10px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.artist-id {
  display: grid;
  align-items: center;
  padding: 0px 10px;
  height: 30px;
  width: fit-content;
  background-color: black;
  border-radius: 100px;
  color: white;
}

.eth-address .address {
  overflow: auto;
  justify-self: center;
  align-self: center;
  text-size-adjust: auto;
  /* margin-left: -60px; */
}

.copy-symbol {
  justify-self: end;
  background-color: rgb(198, 198, 198);
  display: grid;
  align-items: center;
  padding: 0px 10px;
  height: 30px;
  border-radius: 100px;
  color: white;
  width: fit-content;
  cursor: pointer;
}

.creations-collections {
  padding: 10px 25px 30px 25px;
  box-shadow: inset 7px 7px 14px #e4e4e4, inset -7px -7px 14px #f6f6f6;
}

.nav {
  margin: 10px 0px;
  padding: 10px 10px;
  height: fit-content;
  display: grid;
  grid-gap: 100px;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 100px);
  background: rgb(233 239 240);
  /* box-shadow: 7px 7px 14px #e4e4e4, -7px -7px 14px #f6f6f6; */
}

.nav-lnk {
  height: fit-content;
  width: fit-content;
  margin: 0px 10px;
  padding: 10px 10px;
  border-radius: 10px;
  background: rgb(233 239 240);
  box-shadow: 7px 7px 14px #e4e4e4, -7px -7px 14px #f6f6f6;
}

.nav-lnk:hover {
  box-shadow: inset 7px 7px 14px #e4e4e4, inset -7px -7px 14px #f6f6f6;
}

.about {
  height: fit-content;
  margin: 10px 20px 40px 20px;
  padding: 20px 20px;
  background: rgb(233 239 240);
  box-shadow: 7px 7px 14px #e4e4e4, -7px -7px 14px #f6f6f6;
  border-radius: 5px;
}
