/* .art-c {
  display: grid;
  height: 700px;
  background-color: rgb(208, 208, 208);
  margin: 10px 20px;
  align-items: center;
  justify-content: center;
} */

/* .art-c {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  min-height: 0px;
  width: fit-content;
  height: fit-content;
  background-color: rgb(230 235 234 / 1);
  display: grid;
  flex: 1 1 0%;
  position: relative;
} */

.art-c {
    box-sizing: border-box;
    margin: 0px;
    margin-top: 4vh;

    min-width: 0px;
    height: fit-content;
    /* background-color: rgb(202, 202, 202); */
    /* background-color: rgb(230 235 234 / 1); */
    display: flex;
    position: relative;
    flex: 1 1 0%;
    min-height: 5vh;
    align-items: center;
    justify-content: center;
}

.image-c {
    height: fit-content;
    width: fit-content;
    /* background-color: rgb(177, 175, 175); */
    background-color: rgb(233 239 240);
    border-radius: 20px;
    padding: 10px 10px;
    /* display: grid; */
    /* align-items: center; */
    /* justify-items: center; */
    overflow: hidden;
    /* box-shadow: 3px 3px 8px #d9d9d9, -4px -4px 8px #cccccc; */
    box-shadow: 5px 5px 12px #dbe1e2, -5px -5px 12px #f7fdfe;
    display: grid;
    justify-self: center;
}
/* transform: translateY(-1.5rem); */
/* 
.image-c img {
  height: 400px;
  width: auto;
} */

.video-player {
    border-radius: 20px;
}

.det {
    box-sizing: border-box;
    margin: 0px auto -1.5rem;
    min-width: 0px;
    width: 100%;
    max-width: 1600px;
    padding-left: 24px;
    padding-right: 24px;
    transform: translateY(-1.5rem);
    display: flex;
    gap: 16px;
    position: relative;
    z-index: 1;
    /* justify-content: center; */
}

.css-4cffwv {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.css-ykl0r1 {
    box-sizing: border-box;
    margin: 0px 0px 0px auto;
    min-width: 0px;
    display: flex;
}

.css-1mitdaa {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    background: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    padding: 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* box-shadow: 0px 10px 20px rgb(0 0 0 / 5%); */
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 20px;
    -webkit-transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    will-change: transform;
    padding-right: 20px;
    /* box-shadow: 3px 3px 8px #cecdcd, -4px -4px 8px #c2c2c2; */
    box-shadow: 5px 5px 12px #dbe1e2, -5px -5px 12px #f7fdfe;
    background: rgb(233 239 240);
    /* box-shadow: 3px 3px 8px #d9d9d9, -4px -4px 8px #cccccc; */
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

.css-1mitdaa p {
    background: linear-gradient(
        110.78deg,
        #76e650 -1.13%,
        #f9d649 15.22%,
        #f08e35 32.09%,
        #ec5157 48.96%,
        #ff18bd 67.94%,
        #1a4bff 85.34%,
        #62d8f9 99.57%
    );
    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.css-1mitdaa:hover {
    /* box-shadow: inset 7px 7px 14px #bababa, inset -7px -7px 14px #ffffff; */
    box-shadow: inset 5px 5px 12px #dbe1e2, inset -5px -5px 12px #f7fdfe;
    transform: scale(1.05, 1.05);
}

.css-yk10r2 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    outline: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
    border-radius: 999px;
    will-change: transform;
    backface-visibility: visible;
}

.css-3ts36d {
    margin: 0px;
    min-width: 0px;
    height: 40px;
    -webkit-box-pack: center;
    justify-content: center;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
    border-radius: 20px;
    cursor: pointer;
    width: auto;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    /* box-shadow: rgb(0 0 0 / 5%) 0px 10px 20px; */
    /* background-color: rgb(233, 233, 233) !important; */
    /* box-shadow: 3px 3px 8px #d9d9d9, -4px -4px 8px #cccccc; */
    box-shadow: 5px 5px 12px #dbe1e2, -5px -5px 12px #f7fdfe;
    background: rgb(233 239 240);
    /* box-shadow: 5px 5px 13px #e6e6e6, -5px -5px 13px #f4f4f4; */
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

.css-3ts36d p {
    background: linear-gradient(
        110.78deg,
        #62d8f9 5.13%,
        #1a4bff 15.22%,
        #ff18bd 32.09%,
        #ec5157 48.96%,
        #f08e35 67.94%,
        #f9d649 85.34%,
        #76e650 99.57%
    );

    background-clip: inherit;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.css-3ts36d:hover {
    /* box-shadow: inset 7px 7px 14px #bababa, inset -7px -7px 14px #ffffff; */
    box-shadow: inset 5px 5px 12px #dbe1e2, inset -5px -5px 12px #f7fdfe;
    transform: scale(1.05, 1.05);
}

.desc-his {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
    grid-gap: 3vmax;
    /* justify-content: center; */
}

.desc {
    /* margin: 10px 10px; */
    padding: 10px 10px;
    height: fit-content;
    width: fit-content;
    justify-self: start;
    justify-self: center;
    /* justify-content: center; */
    display: grid;
}

.desc-1 {
    overflow-wrap: break-word;
    margin: 40px 50px;
    padding: 30px 70px 50px 30px;
    /* background: rgb(230, 230, 230); */
    height: fit-content;
    width: 80vw;
    max-width: 600px;
    justify-self: start;
    border-radius: 10px;
    background: rgb(233 239 240);
    /* box-shadow: 5px 5px 13px #e6e6e6, -5px -5px 13px #f4f4f4; */
    box-shadow: 5px 5px 12px #dbe1e2, -5px -5px 12px #f7fdfe;
}

.editions-dropdown {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
    background: rgb(233 239 240);
    box-shadow: 5px 5px 12px #dbe1e2, -5px -5px 12px #f7fdfe;
    border-radius: 15px;
    margin: 10px 0px;

    padding: 7px 15px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}

.editions-dropdown:hover {
    transform: scale(1.05, 1.05);
    cursor: pointer;
}

.editions-dropdown select {
    font-family: 'Poppins';
    font-weight: bolder;
    background: inherit;
    outline: none;
    border: none;
    box-shadow: inset 5px 5px 12px #dbe1e2, inset -5px -5px 12px #f7fdfe;
    border-radius: 20px;
    padding: 7px 10px;
}

.editions-dropdown select:hover {
    /* box-shadow: inset 5px 5px 12px #dbe1e2, inset -5px -5px 12px #f7fdfe; */
    cursor: pointer;
}

/* .editions-dropdown select option {
    box-shadow: inset 5px 5px 12px #dbe1e2, inset -5px -5px 12px #f7fdfe;
    border-radius: 10px;
    color: black;
}
.editions-dropdown select option:hover {
    background: black;
} */

.view-on {
    padding: 10px 10px 0px 10px;
}

.view-on:hover {
    text-decoration: underline;
}

/* .value {
  margin: 40px 50px;
  padding: 30px 70px 50px 30px;
  background: rgb(220, 220, 220);
  height: fit-content;
  width: fit-content;
  justify-self: start;
  border-radius: 10px;
  background: linear-gradient(145deg, #cdcbcb, #f4f2f2);
  box-shadow: 16px 16px 30px #e4e4e4, -16px -16px 30px #f2f0f0;
} */

.his-1 {
    overflow: auto;
    /* margin: 40px 40px; */
    padding: 20px 20px;
    height: 500px;
    width: 80vw;
    max-width: 600px;
    max-height: 450px;
    border-radius: 10px;
    background: rgb(233 239 240);
    /* box-shadow: 5px 5px 13px #e6e6e6, -5px -5px 13px #f4f4f4; */
    box-shadow: 5px 5px 12px #dbe1e2, -5px -5px 12px #f7fdfe;
    justify-self: end;
    justify-self: center;
}

.bids-1 {
    display: grid;
    gap: 3px;
}
